button:first-of-type {
    border: none;
    background: url('/images/noteBook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    width: 50vw;

}

button[popovertarget="noteBook"] {
    background-color: hotpink;
}
