/* Buttons */

button {
    height: 2rem;
    margin: 1rem;
}

/* Notebook styling */

button[popovertarget="noteBook"] {
    border: none;
    background: url('/images/noteBook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    width: 50vw;
}
