/********************/
/* MARK: Layout */
/********************/

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/********************/
/* MARK: Styling elements */
/********************/

#lamp {
  width: 25vw;

  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
}

#lamp input {
  display: none;
}

.noteBook {
  grid-column-start: 2;
  grid-row-start: -2;
}

.schoolPas {
  grid-column-start: 1;
  grid-row-start: -2;
  align-self: center;
  justify-self: center;
}

/********************/
/* MARK: Notebook Popover */
/********************/

/* (commented code kept structured as-is) */

/* button[popovertarget="noteBook"] {
    border: none;
    background: url('/images/noteBook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    width: 50vw;
}

div#noteBook:popover-open  {
    background-color: var(--paper);
    margin: 5vw;
    padding: 1em;
    max-width: 80vw;
    border-width: 1em 2em;
    border-color: var(--light-green);
    color: black;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
} */


div#Boekje:popover-open {

  /* sizing */
  height: 70vw;
  width: 90vw;
  overflow-x: hidden; 

  /* positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* color */
  border: none;
  background: none;
  text-align: center;

  & button {
    /* sizing */
    height: 5em;
    margin: 1em;
    padding: 1em;
    background-color: var(--midtoneLight);

    /* animation */
    transition: transform 0.5s;
  }

  & .book {
    /* sizing */
    width: 35%;
    height: 70%;
    
    /* positioning */
    position: relative;

    /* animation */
    transition: transform 0.5s;
  }

  & .paper {
    /* sizing */
    width: 100%;
    height: 100%;
    
    /* positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* 3D */
    perspective: 1500px;
  }

  & .front,
  .back {
    /* sizing */
    width: 100%;
    height: 100%;

    /* positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* color */
    background-color: var(--paper);
      border: 5px solid var(--midtoneDark);

    /* animation */
    transform-origin: left;
    transition: transform 0.5s;
  }

  & .front {
    /* positioning */
    z-index: 1;

    /* 3D */
    backface-visibility: hidden;
  }

  & .back {
    /* positioning */
    z-index: 0;
  }

  & .front-content,
  .back-content {
    /* sizing */
    width: 100%;
    height: 100%;

    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .back-content {
    /* 3D */
    transform: rotateY(180deg);
  }

  /* Paper flipped effect */

  & .flipped .front,
  .flipped .back {
    transform: rotateY(-180deg);
  }

  & #f1, #b5 {
    background-color: var(--midtoneDark);
  }

  /* Paper stack order */

  & #p1 { z-index: 5; }
  & #p2 { z-index: 4; }
  & #p3 { z-index: 3; }
  & #p4 { z-index: 2; }
  & #p5 { z-index: 1; }
}




/********************/
/* MARK: SchoolPas  */
/********************/

div#schoolPasje:popover-open {

  /* color & typography */
  background-color: var(--highlights);
  border: none;
  border-right: 0.25rem solid var(--midtoneDark);
  border-bottom: 0.3rem solid var(--midtoneDark);


  /* sizing */
  width: 60vw;
  height: 35vw;
  border-radius: 1rem;
  padding: 1rem;
  gap: 2rem;

  /* positioning / layout */
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 3fr;
  align-items: start;

  & img {
    border-radius: 1rem;

    grid-column: 1;
    align-self: center;
  }

  & .textContent {
    grid-column: 2;
    align-self: center;
  }
}
