/* Buttons */

button {
    height: 2rem;
    margin: 1rem;
}

/* Notebook styling */

button[popovertarget="noteBook"] {
    border: none;
    background: url('/images/noteBook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    width: 50vw;
}

div#noteBook:popover-open  {
    background-color: var(--paper);
    margin: 5vw;
    padding: 1em;
    max-width: 80vw;
    border-width: 1em 2em;
    border-color: var(--light-green);
    color: black;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
}


div#Boekje:popover-open  {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */

    height: 90vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: pink;   
    color: black;

    & button {
        height: 5em;
        margin: 1em;
        padding: 1em;
        transition: transform 0.5s;
    }

    & .book {
        position: relative;
        width: 250px;
        height: 400px;
        /*   background-color: hotpink; */
        transition: transform 0.5s;
    }

    & .paper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        perspective: 1500px;
    }

    & .front, .back {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        transform-origin: left;
        transition: transform 0.5s;
    }

    & .front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid pink;
    }

    & .back {
    z-index: 0;
    }

    & .front-content, .back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    & .back-content {
    transform: rotateY(180deg); 
    }

    /* Paper flipped effect */

    & .flipped .front, 
    .flipped .back {
    transform: rotateY(-180deg);
    }

    /* Paper stack order */
    & #p1 {
    z-index: 3;
    }

    & #p2 {
    z-index: 2;
    }

    & #p3 {
    z-index: 1;
    }
}



