/* Buttons */

button {
    height: 2rem;
    margin: 1rem;
}

/* Notebook styling */

button[popovertarget="noteBook"] {
    border: none;
    background: url('/images/noteBook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    width: 50vw;
}

div#noteBook:popover-open  {
    background-color: var(--paper);
    margin: 5vw;
    padding: 1em;
    max-width: 80vw;
    border-width: 1em 2em;
    border-color: var(--light-green);
    color: black;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
}


