/* Buttons */
main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#lamp {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 25vw;
    justify-self: end;
}

#lamp input {
    display: none;
}
  

.noteBook {
    grid-column-start: 2;
    grid-row-start: -2;
    
   

}


.noteBook img:first-of-type {
     @container style(--theme:dark){
        content: url(/images/noteBookDark.png);
    }
}

.schoolPas {
    grid-column-start: 1;
    grid-row-start: -2;
    align-self: center;
    justify-self: center;

    
}

.schoolPas button img {
    @container style(--theme:dark){
        content: url(/images/schoolPassDark.png);
    }
}

/* Notebook styling */

/* button[popovertarget="noteBook"] {
    border: none;
    background: url('/images/noteBook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    width: 50vw;
}

div#noteBook:popover-open  {
    background-color: var(--paper);
    margin: 5vw;
    padding: 1em;
    max-width: 80vw;
    border-width: 1em 2em;
    border-color: var(--light-green);
    color: black;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
} */


div#Boekje:popover-open  {
    
    height: 90vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 0.85rem; */
    
    background-color: pink;   
    color: black;

    & button {
        height: 5em;
        margin: 1em;
        padding: 1em;
        transition: transform 0.5s;
    }

    & .book {
        position: relative;
        width: 250px;
        height: 400px;
        /* margin: 1rem; */
        /* background-color: hotpink; */
        transition: transform 0.5s;
    }

    & .paper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /* margin: 1rem; */
        perspective: 1500px;
    }

    & .front, .back {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        transform-origin: left;
        transition: transform 0.5s;
    }

    & .front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid pink;
    }

    & .back {
    z-index: 0;
    }

    & .front-content, .back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    & .back-content {
    transform: rotateY(180deg); 
    }

    /* Paper flipped effect */

    & .flipped .front, 
    .flipped .back {
    transform: rotateY(-180deg);
    }

    /* Paper stack order */
    & #p1 {
        z-index: 5;
    }

    & #p2 {
        z-index: 4;
    }

    & #p3 {
        z-index: 3;
    }

    & #p4 {
        z-index: 2;
    }

    & #p5 {
        z-index: 1;
    }
}

#schoolPasje::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px); /* optional blur */
}


div#schoolPasje:popover-open,  div#schoolPasjeAnderen:popover-open {
    background-color: var(--highlights);
    color: var(--shadows);
    border: none;
    border-radius: 1rem;
    width: 60vw;
    height: 35vw;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 0.25rem solid var(--midtoneDark);
    border-bottom: 0.3rem solid var(--midtoneDark);

    display: grid;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    padding: 1rem;
    align-items: start;

    & img {
        grid-column: 1;
        align-self: center;
        border-radius: 1rem;
    }

    & .textContent {
        grid-column: 2;
        align-self: center;
        /* color: var(--midtoneDark); */
    }


}

 




