/**************/
/* CSS REMEDY */
/**************/

/* MARK: Variabelen;

*, *::after, *::before {
  box-sizing:border-box;  
  /* margin: 0;
  padding: 0;
  list-style-type: none; 
}*/

img {
	max-width: 100%;
}

button {
  background: none;
  border: none;

}

button:hover {
  transform: rotate(5deg);
}

#lamp label:hover img {
  /* transform: scale(1.05); */
  content: url(/images/lampLightHover.png);
  @container style(--theme:dark){
        content: url(/images/lampDarkHover.png);
    }
}


/* .schoolPas button img {
    @container style(--theme:dark){
        content: url(/images/schoolPassDark.png);
    }
} */

/* Basis styling */

:root {
    color-scheme:light dark;
    /* define colors */
    --shadows:light-dark(#2D4F7A, #30242D); 
    --highlights: light-dark(#EEEBE4, #FFC490); 
    --midtoneLight: light-dark(#F29C91, #F9686B); 
    --midtoneDark: light-dark(#518ACF, #75364B); 

    /* define colornames */
    --bg: var(--highlights);
    --paper:light-dark(#F6FDFF, #EEEBE4);
}

/* Light/dark mode */
/* source: deel van de code samen gemaakt met Sanne */
html:has( [value="light"]:checked ) {
  --theme:light;
}

html:has( [value="dark"]:checked ) {
  --theme:dark;
}

@container style(--theme:light) {
  label:has([ value="light"]) {
    display:none;
  }
  body {
    color-scheme: light;

    background-color: var(--bg);
    background-image: url("/images/bgWebsiteLight.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--dark-green);
  }
}

@container style(--theme:dark) {
  label:has([ value="dark"]) {
    display:none;
  }
  body {
    color-scheme: dark;

    background-color: #FFC490;
    background-image: url("/images/bgWebsiteDark.png");
    background-size: contain;
    background-repeat: no-repeat;
    
  }
}




