/**************/
/* CSS REMEDY */
/**************/

/* MARK: Variabelen;

*, *::after, *::before {
  box-sizing:border-box;  
  /* margin: 0;
  padding: 0;
  list-style-type: none; 
}*/

img {
	max-width: 100%;
}


/* Basis styling */

:root {
    color-scheme:light dark;
    --bg:light-dark(#F6D5B1, #BD9871);
    --paper:light-dark(#F7F4D5, #dcd8ab);
	
    --color-text:#042FAB;
    --color-background:#F8F6F2;

    --dark-green:light-dark(#0A3323, #021A11);
    --light-green: #839958;
    --beige: #F7F4D5;
    --pink: #D3968C;
    --blue: #105666;
    --white: #FFF;
    --black: #000;
}

/* Light/dark mode */
/* source: deel van de code samen gemaakt met Sanne */
html:has( [value="light"]:checked ) {
  --theme:light;
}

html:has( [value="dark"]:checked ) {
  --theme:dark;
}

@container style(--theme:light) {
  label:has([ value="light"]) {
    display:none;
  }
  body {
    color-scheme: light;

    background-color: var(--bg);
    background-image: url("/images/webisteBackgroung.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--dark-green);
  }
}

@container style(--theme:dark) {
  label:has([ value="dark"]) {
    display:none;
  }
  body {
    color-scheme: dark;

    background-color: #BD9871;
    background-image: url("/images/websiteBackgroundDark.png");
    background-size: contain;
    background-repeat: no-repeat;
    
  }
}

